/* ManageBill.css */

.bill-container {
    padding: 20px;
    background-color: #80858a;  /* Add your desired background color */
}

.bill-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.bill-table th,
.bill-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.total-bill {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}
