/* Navigations.css */

.navbar-container {
    background-color: #007bff; /* Set background color for the navigation bar */
    padding: 10px 0;
    color: white;
}

.navbar-title {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: white !important; /* Set color for the navigation links */
}

.logout-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.logout-button:hover {
    text-decoration: underline;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .navbar-title {
        margin-left: 10px;
    }
}
